# ==============================
# Dependencies
# ==============================

pip >= 25.2
mypy >= 1.17
pytest >= 8.4
spacy >= 3.8
uvicorn[standard] >= 0.35
fastapi >= 0.116
pydantic >= 2.11
alembic >= 1.16
sqlalchemy >= 2.0